<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>smobs</title>
<script>
function ctrl_enter(e) {
	if (e.keyCode == 13 && e.ctrlKey) {
		document.getElementById("submit_button").click();
	}
}
</script>
<style type="text/css">
body {
	text-align: center;
}
</style>
</head>
<body>
<h1>smob database submission</h1>
<p>use this form to submit smob data</p>
<p>paste the log of <code>get all corpse</code></p>
<p>if there is no named corpse, or no corpse at all, include the smob name somewhere with the log of <code>get all</code></p>
<p>check out collected data <a href="/static/smobs.txt">smobs.txt</a> (might be a large file)</p>

<form action="/submit" method="post">
<p><textarea autofocus name="smob" rows="32" cols="120" onkeydown="ctrl_enter(event);"></textarea></p>
<p><button id="submit_button">submit</button><br>
<small>or hit ctrl+enter</small></p>
</form>

</body>
</html>
