{% extends "base.html" %}
{% block body %}

<p><a href="/smobs/edit/{{ smobid }}">edit this smob</a></p>

<table>
	<tr>
		<td><strong>location</strong></td>
		<td>{% if smob[5] %}{{ smob[5] }}{% else %}unknown{% endif %}</td>
	</tr>
	<tr>
		<td><strong>kills</strong></td>
		<td>{{ kills }}</td>
	</tr>
	<tr>
		<td><strong>stab</strong></td>
		<td>{% if smob[2] == True %}yes{% elif smob[2] == False %}no{% else %}unknown{% endif %}</td>
	</tr>
	<tr>
		<td><strong>channel</strong></td>
		<td>{% if smob[3] %}{{ smob[3] }}{% else %}unknown{% endif %}</td>
	</tr>
	<tr>
		<td><strong>pick</strong></td>
		<td>{% if smob[6] > 0 %}{{ smob[6] }}{% elif smob[6] == 0 %}nada{% else %}unknown{% endif %}</td>
	</tr>
	<tr>
		<td><strong>search</strong></td>
		<td>{% if smob[7] > 0 %}{{ smob[7] }}{% elif smob[7] == 0 %}nada{% else %}unknown{% endif %}</td>
	</tr>
	<tr>
		<td><strong>notes</strong></td>
		<td><pre style="font: inherit;display: inline;">{% if smob[8] %}{{ smob[8] }}{% else %}nada{% endif %}</pre></td>
	</tr>
</table>

<br>

<table class="sortable">
	<tr>
		<th><a href="#" onclick="return false;">item</a></th>
		<th><a href="#" onclick="return false;">chance</a></th>
	</tr>
	{% for item in items %}
		<tr><td><a href="/eq/{{ item[0] }}">{{ item[1] }}</a></td><td>{{ item[2]|round }}%</td></tr>
	{% endfor %}
</table>
{% endblock %}
